<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Gifthamper - Home</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.svg' %}" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <!-- Modernizer JS -->
    <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
  </head>
  <style>
    .user-menu {
      display: flex;
      align-items: center;
    }
    .user-menu ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .user-menu ul li {
      margin-left: 10px;
    }
    .user-menu .cart-delete {
      color: red;
    }
    .u_image {
      width: 40px; /* Adjust as needed */
      height: 40px; /* Adjust as needed */
      border-radius: 50%; /* Make it circular */
      object-fit: cover;
    }
  </style>
  <body>
    <div id="main-wrapper" class="section">

    <div class="header-section section">
        <!-- Header Top Start -->
        <div class="account-menu header-top">
          <div class="container">
            <div class="row">
              <div class="col">
                <!-- Header Top Wrapper Start -->
                <div class="header-top-wrapper">
                  <div class="row">
                    <!-- Header Social -->
                    <div class="header-social col-md-4 col-12">
                            </div>

                    <!-- Header Logo -->
                    <div class="header-logo col-md-4 col-12">
                      <a href="/" class="logo"
                        ><img src="{% static '/img/logo.svg' %}" alt="logo" /></a
                      >
                    </div>

                    <!-- Account Menu -->
                    <div class="account-menu user-menu col-md-4 col-12">
                     
                    </ul>
                     </li>
                      <ul>
                        {%if request.session.u_id is not None%}
                        <li><a href="/logout">Logout</a></li>
                        
                        {%else%}
                        {%endif%}
                        <li><a href="wishlist">Wishlist</a></li>
                        <li>
                          <a href="#" data-toggle="dropdown"
                            ><i class="fa fa-shopping-cart"></i
                            ><span class="num">2</span></a
                          >
                      
                          <!-- Mini Cart -->
                          <div class="mini-cart-brief dropdown-menu text-left">
                            <!-- Cart Products -->
                            <div class="all-cart-product clearfix">
                              <div class="single-cart clearfix">
                                <div class="cart-image">
                                  <a href="product-details"
                                    ><img src="{% static '/img/cart/1.jpg' %}" alt=""
                                  /></a>
                                </div>
                                <div class="cart-info">
                                  <h5>
                                    <a href="product-details"
                                      >Holiday Candle</a
                                    >
                                  </h5>
                                  <p>1 x £9.00</p>
                                  <a
                                    href="#"
                                    class="cart-delete"
                                    title="Remove this item"
                                    ><i class="fa fa-trash-o"></i
                                  ></a>
                                </div>
                              </div>
                              <div class="single-cart clearfix">
                                <div class="cart-image">
                                  <a href="product-details"
                                    ><img src="{% static '/img/cart/2.jpg' %}" alt=""
                                  /></a>
                                </div>
                                <div class="cart-info">
                                  <h5>
                                    <a href="product-details"
                                      >Christmas Tree</a
                                    >
                                  </h5>
                                  <p>1 x £9.00</p>
                                  <a
                                    href="#"
                                    class="cart-delete"
                                    title="Remove this item"
                                    ><i class="fa fa-trash-o"></i
                                  ></a>
                                </div>
                              </div>
                            </div>
                            <!-- Cart Total -->
                            <div class="cart-totals">
                              <h5>Total <span>£12.00</span></h5>
                            </div>
                            <!-- Cart Button -->
                            <div class="cart-bottom clearfix">
                              <a href="checkout">Check out</a>
                            </div>
                          </div>
                      
                        </li>
                        {%if user_data is not None%}
                        <li>
                          <img src="/media/{{user_data.u_image}}" class="u_image" alt="" srcset="">
                         </li>
                         {%else%}
                         {%endif%}
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Header Top Wrapper End -->
              </div>
            </div>
          </div>
        </div>
        <!-- Header Top End -->

        <!-- Header Bottom Start -->
        <div class="header-bottom section">
          <div class="container">
            <div class="row">
              <!-- Header Bottom Wrapper Start -->
              <div class="header-bottom-wrapper text-center col">
                <!-- Header Bottom Logo -->
                <div class="header-bottom-logo">
                  <a href="/" class="logo"
                    ><img src="{% static '/img/logo.svg' %}" alt="logo" class="imgD" style="width:120px;"
                  /></a>
                </div>

                <!-- Main Menu -->
                <nav id="main-menu" class="main-menu">
                  <ul>
                    {% if request.path == "/" %}
                    <li class='active'><a  href="/">Home</a></li>
                    {% else %}
                    <li ><a  href="/">Home</a></li>
                    {% endif %}
                    {% if request.path == "/shop" %}
                    <li class="active">
                      <a href="shop" class="active">shop</a>
                      
                    </li>
                    {%else%}
                    <li>
                      <a href="shop">shop</a>
                    
                    </li>
                    {%endif%}
                    {% if request.path == "/about" %}
                    <li class='active'><a  href="/about">about</a></li>
                    {% else %}
                    <li ><a  href="/about">about</a></li>
                    {% endif %}

                    {%if request.path == "/cart" or request.path == "/checkout" or request.path == "/wishlist" or request.path == "under-construction"%}
                    <li class='active'>
                      <a href="#">pages</a>
                      <ul class="sub-menu">
                        {%if request.path == "/cart"%}
                        <li class="active"><a href="/cart">cart</a></li>
                        {%else%}
                        <li><a href="/cart">cart</a></li>
                        {%endif%}
                        {%if request.path == "/checkout"%}
                        <li class='active'><a href="checkout">checkout</a></li>
                        {%else%}
                        <li><a href="checkout">checkout</a></li>
                        {%endif%}
                        {%if request.path == "/wishlist"%}
                        <li class='active'><a href="wishlist">wishlist</a></li>
                        {%else%}
                        <li><a href="wishlist">wishlist</a></li>
                        {%endif%}
                      
                      </ul>
                    </li>
                    {%else%}
                    <li>
                      <a href="#">pages</a>
                      <ul class="sub-menu">
                        <li><a href="/cart">cart</a></li>
                        <li><a href="checkout">checkout</a></li>
                        <li><a href="wishlist">wishlist</a></li>
                        <li>
                          
                        </li>
                      </ul>
                    </li>
                    {%endif%}
                    {% comment %} {%if request.path == "/blog" or request.path == "/blog-details"%}
                    <li class='active'>
                      <a href="blog">blog</a>
                      <ul class="sub-menu">
                        {%if request.path == "/blog"%}
                        <li class='active'><a href="blog">blog page</a></li>
                        {%else%}
                        <li><a href="blog">blog page</a></li>
                        {%endif%}
                        {%if request.path == "/blog-details"%}
                        <li class='active'><a href="blog-details">blog details</a></li>
                        {%else%}
                        <li><a href="blog-details">blog details</a></li>
                        {%endif%}
                      </ul>
                    </li>
                    {%else%}
                    <li>
                      <a href="blog">blog</a>
                      <ul class="sub-menu">
                        <li><a href="blog">blog page</a></li>
                        <li><a href="blog-details">blog details</a></li>
                      </ul>
                    </li>
                    {%endif%} {% endcomment %}
                   
                    {%if request.path == "/signup" or request.path == "/login"%}
                    <li class='active'>
                      <a href="">My account</a>
                      <ul class="sub-menu">
                        {%if request.path == "/signup"%}
                        <li class='active'><a href="/signup">Sign Up</a></li>
                        {%else%}
                        <li><a href="/signup">Sign Up</a></li>
                        {%endif%}
                        {%if request.path == "/login"%}
                        <li class='active'><a href="/login">Log In</a></li>
                        {%else%}
                        <li><a href="/login">Log In</a></li>
                        {%endif%}
                      </ul>
                    </li>
                    {%else%}
                    <li >
                      <a href>My account</a>
                      <ul class="sub-menu">
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/login">Log In</a></li>
                      </ul>
                    </li>
                    {%endif%}
                    {% if request.path == "/contact" %}
                    <li class='active'><a  href="/contact">Contact</a></li>
                    {% else %}
                    <li ><a  href="/contact">Contact</a></li>
                    {% endif %}
                   
                   

                   
                  </ul>
                </nav>

                <!-- Header Search -->
                <div class="header-search">
                  <!-- Search Toggle -->
                  <button class="search-toggle">
                    <i class="ion-ios-search-strong"></i>
                  </button>

                  <!-- Search Form -->
                  <div class="header-search-form">
                    <form action="#">
                      <input type="text" placeholder="Search..." />
                      <button><i class="ion-ios-search-strong"></i></button>
                    </form>
                  </div>
                </div>

                <!-- Mobile Menu -->
                <div class="mobile-menu section d-md-none"></div>
              </div>
              <!-- Header Bottom Wrapper End -->
            </div>
          </div>
        </div>
        <!-- Header Bottom End -->
      </div>
    </div>
    <script src="{% static "/js/vendor/jquery-1.12.0.min.js" %}"></script>
    <!-- Popper JS -->
    <script src="{% static '/js/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- Plugins JS -->
    <script src="{% static '/js/plugins.js' %}"></script>
    <!-- Ajax Mail JS -->
    <script src="{% static '/js/ajax-mail.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static '/js/main.js' %}"></script>
  </body>
</html>