<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>About • GiftPortal</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.svg' %}" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <!-- Modernizer JS -->
    <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
  </head>

  <body>
    <!-- Main Wrapper Start -->
    <div id="main-wrapper" class="section">
      <!-- Header Section Start -->
        <!-- Header Top Start -->
        {% include 'includes/header.html' %}
        <!-- Header Top End -->

        <!-- Header Bottom Start -->
      
      <!-- Header Section End -->

      <!-- Page Banner Section Start-->
      <div
        class="page-banner-section section"
        style="background-image: url({% static "img/bg/page-banner.jpg" %})"
      >
        <div class="container">
          <div class="row">
            <!-- Page Title Start -->
            <div class="page-title text-center col">
              <h1>About us</h1>
            </div>
            <!-- Page Title End -->
          </div>
        </div>
      </div>
      <!-- Page Banner Section End-->

      <!-- About Section Start-->
      <div class="about-section section pt-120 pb-90">
        <div class="container">
          <div class="row flex-row-reverse">
            <!-- About Image -->
            <div class="about-image col-lg-6 col-12 mb-30">
              <a
                class="video-popup"
                href="https://www.youtube.com/watch?v=7e90gBu4pas"
                ><img src="{% static "img/about.jpg" %}" alt=""
              /></a>
            </div>

            <!-- Mission Content -->
            <div class="about-content col-lg-6 col-12 mb-30">
              <h2>About <span>Christ</span></h2>
              <p>
                There are many variations of passages of Lorem Ipsum available,
                majority have suffered alteration in some form, by injected
                humour, or randomised words which don't look even slightly kn je
                believable There are manations of passages of Lorem Ipsum
                available, but the majority ahave suffered ami tar cholnay vulbo
                na alte ration. majority have suffered alteration in
              </p>
              <a href="#" class="button">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
      <!-- About Section End-->

      <!-- Team Section Start-->
      <div class="team-section section pb-120">
        <div class="container">
          <div class="row">
            <div class="section-title text-center col mb-60">
              <h1>Our Team</h1>
            </div>
          </div>

          <div class="team-wrapper row">
            <div class="single-team col-lg-3 col-md-6 col-12">
              <img src="{% static "img/team/1.jpg" %}" alt="team" />
              <div class="content">
                <h4>Sonu Kshatriya</h4>
                <span>CEO</span>
              </div>
            </div>

            <div class="single-team col-lg-3 col-md-6 col-12">
              <img src="{% static "img/team/2.jpg" %}" alt="team" />
              <div class="content">
                <h4>Pritesh Pandav</h4>
                <span>Nalla</span>
              </div>
            </div>

            <div class="single-team col-lg-3 col-md-6 col-12">
              <img src="{% static "img/team/3.jpg" %}" alt="team" />
              <div class="content">
                <h4>Bhavya Panchal</h4>
                <span>developer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Section End-->

      <!-- Funfact Section Start-->
      <div class="funfact-section section pb-90">
        <div class="container">
          <div class="row">
            <!-- Single Fact -->
            <div class="single-fact text-center col-sm-3 col-6 mb-30">
              <div class="wrap">
                <i class="fa fa-users"></i>
                <h2 class="counter">110</h2>
                <p>Happy Clients</p>
              </div>
            </div>

            <!-- Single Fact -->
            <div class="single-fact text-center col-sm-3 col-6 mb-30">
              <div class="wrap">
                <i class="fa fa-trophy"></i>
                <h2 class="counter">90</h2>
                <p>Award Winning</p>
              </div>
            </div>

            <!-- Single Fact -->
            <div class="single-fact text-center col-sm-3 col-6 mb-30">
              <div class="wrap">
                <i class="fa fa-thumbs-up"></i>
                <h2 class="counter">230</h2>
                <p>Project Done</p>
              </div>
            </div>

            <!-- Single Fact -->
            <div class="single-fact text-center col-sm-3 col-6 mb-30">
              <div class="wrap">
                <i class="fa fa-coffee"></i>
                <h2 class="counter">350</h2>
                <p>Cups of Coffee</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Funfact Section End-->

      <!-- Client Section Start-->
      <div class="client-section section pb-90">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="client-slider text-center">
                <!-- Single Client -->
                <div class="single-client">
                  <img src="{% static "img/client/1.png" %}" alt="client" />
                </div>
                <div class="single-client">
                  <img src="{% static "img/client/2.png" %}" alt="client" />
                </div>
                <div class="single-client">
                  <img src="{% static "img/client/3.png" %}" alt="client" />
                </div>
                <div class="single-client">
                  <img src="{% static "img/client/4.png" %}" alt="client" />
                </div>
                <div class="single-client">
                  <img src="{% static "img/client/5.png" %}" alt="client" />
                </div>
                <div class="single-client">
                  <img src="{% static "img/client/6.png" %}" alt="client" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Client Section End-->

      <!-- Footer Section Start-->
      {% include 'includes/footer.html' %}

      <!-- Footer Section End-->
    </div>
    <!-- Main Wrapper End -->

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="{% static '/js/vendor/jquery-1.12.0.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static '/js/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- Plugins JS -->
    <script src="{% static '/js/plugins.js' %}"></script>
    <!-- Ajax Mail JS -->
    <script src="{% static '/js/ajax-mail.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static '/js/main.js' %}"></script>
  </body>
</html>
