<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Christ - Christmas Gift Shop HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"> 
    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Modernizer JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

<!-- Main Wrapper Start -->
<div id="main-wrapper" class="section">
    

    <!-- Header Section Start -->
    <div class="header-section section">
       
        <!-- Header Top Start -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <!-- Header Top Wrapper Start -->
                        <div class="header-top-wrapper">
                            <div class="row">

                                <!-- Header Social -->
                                <div class="header-social col-md-4 col-12">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                </div>

                                <!-- Header Logo -->
                                <div class="header-logo col-md-4 col-12">
                                    <a href="index.html" class="logo"><img src="img/logo.png" alt="logo"></a>
                                </div>

                                <!-- Account Menu -->
                                <div class="account-menu col-md-4 col-12">
                                    <ul>
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="#" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i><span class="num">2</span></a>
                                            
                                            <!-- Mini Cart -->
                                            <div class="mini-cart-brief dropdown-menu text-left">
                                                <!-- Cart Products -->
                                                <div class="all-cart-product clearfix">
                                                    <div class="single-cart clearfix">
                                                        <div class="cart-image">
                                                            <a href="product-details.html"><img src="img/cart/1.jpg" alt=""></a>
                                                        </div>
                                                        <div class="cart-info">
                                                            <h5><a href="product-details.html">Holiday Candle</a></h5>
                                                            <p>1 x £9.00</p>
                                                            <a href="#" class="cart-delete" title="Remove this item"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="single-cart clearfix">
                                                        <div class="cart-image">
                                                            <a href="product-details.html"><img src="img/cart/2.jpg" alt=""></a>
                                                        </div>
                                                        <div class="cart-info">
                                                            <h5><a href="product-details.html">Christmas Tree</a></h5>
                                                            <p>1 x £9.00</p>
                                                            <a href="#" class="cart-delete" title="Remove this item"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Cart Total -->
                                                <div class="cart-totals">
                                                    <h5>Total <span>£12.00</span></h5>
                                                </div>
                                                <!-- Cart Button -->
                                                <div class="cart-bottom  clearfix">
                                                    <a href="checkout.html">Check out</a>
                                                </div>
                                            </div>
                                            
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div><!-- Header Top Wrapper End -->

                    </div>
                </div>
            </div>
        </div><!-- Header Top End -->
        
        <!-- Header Bottom Start -->
        <div class="header-bottom section">
            <div class="container">
                <div class="row">
                   
                    <!-- Header Bottom Wrapper Start -->
                    <div class="header-bottom-wrapper text-center col">

                        <!-- Header Bottom Logo -->
                        <div class="header-bottom-logo">
                            <a href="index.html" class="logo"><img src="img/logo.png" alt="logo"></a>
                        </div>

                        <!-- Main Menu -->
                        <nav id="main-menu" class="main-menu">
                            <ul>
                                <li><a href="index.html">home</a></li>
                                <li><a href="shop.html">shop</a>
                                    <ul class="sub-menu">
                                        <li><a href="shop.html">shop page</a></li>
                                        <li><a href="product-details.html">product details</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">about</a></li>
                                <li><a href="#">pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="cart.html">cart</a></li>
                                        <li><a href="checkout.html">checkout</a></li>
                                        <li><a href="wishlist.html">wishlist</a></li>
                                        <li><a href="under-construction.html">Under Construction</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="blog.html">blog</a>
                                    <ul class="sub-menu">
                                        <li class="active"><a href="blog.html">blog page</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">contact</a></li>
                            </ul>
                        </nav>

                        <!-- Header Search -->
                        <div class="header-search">
                            
                            <!-- Search Toggle -->
                            <button class="search-toggle"><i class="ion-ios-search-strong"></i></button>
                            
                            <!-- Search Form -->
                            <div class="header-search-form">
                                <form action="#">
                                    <input type="text" placeholder="Search...">
                                    <button><i class="ion-ios-search-strong"></i></button>
                                </form>
                            </div>
                            
                        </div>
                        
                        <!-- Mobile Menu -->
                        <div class="mobile-menu section d-md-none"></div>

                    </div><!-- Header Bottom Wrapper End -->
                    
                </div>
            </div>
        </div><!-- Header Bottom End -->
        
    </div><!-- Header Section End -->
    
       
    <!-- Page Banner Section Start-->
    <div class="page-banner-section section" style="background-image: url(img/bg/page-banner.jpg)">
        <div class="container">
            <div class="row">
                
                <!-- Page Title Start -->
                <div class="page-title text-center col">
                    <h1>blog</h1>
                </div><!-- Page Title End -->
                
            </div>
        </div>
    </div><!-- Page Banner Section End-->
    
       
    <!-- Blog Section Start-->
    <div class="blog-section section bg-gray pt-100 pb-60">
        <div class="container">
            <div class="row flex-row-reverse">
                
                <!-- Blog Wrapper -->
                <div class="col-lg-8 col-12 mb-60">
                    <div class="row">

                        <!-- Blog Item Start-->
                        <div class="blog-item col-md-6 col-12 mb-60">

                            <!-- Image -->
                            <a href="blog-details.html" class="image"><img src="img/blog/1.jpg" alt="blog"></a>

                            <!-- Content -->
                            <div class="content fix">

                                <!-- Publish Date -->
                                <span class="publish"><span>Published on:</span> 25 May 2017</span>

                                <!-- Title -->
                                <h4 class="title"><a href="blog-details.html">If you are going to use a passage.</a></h4>

                                <!-- Decs -->
                                <p>If you are going to use a passage of Lorem Ipsum, yneed to be sure there isn't anything embarrassing hidden ithe middle text. All the Lorem Ipsum.</p>

                                <!-- Read More Link --> 
                                <a href="blog-details.html" class="read-more">Read More</a>

                            </div>

                        </div><!-- Blog Item End-->

                        <!-- Blog Item Start-->
                        <div class="blog-item col-md-6 col-12 mb-60">

                            <!-- Image -->
                            <a href="blog-details.html" class="image"><img src="img/blog/2.jpg" alt="blog"></a>

                            <!-- Content -->
                            <div class="content fix">

                                <!-- Publish Date -->
                                <span class="publish"><span>Published on:</span> 25 May 2017</span>

                                <!-- Title -->
                                <h4 class="title"><a href="blog-details.html">Ut enim ad minima veniam, quis.</a></h4>

                                <!-- Decs -->
                                <p>If you are going to use a passage of Lorem Ipsum, yneed to be sure there isn't anything embarrassing hidden ithe middle text. All the Lorem Ipsum.</p>

                                <!-- Read More Link --> 
                                <a href="blog-details.html" class="read-more">Read More</a>

                            </div>

                        </div><!-- Blog Item End-->

                        <!-- Blog Item Start-->
                        <div class="blog-item col-md-6 col-12 mb-60">

                            <!-- Image -->
                            <a href="blog-details.html" class="image"><img src="img/blog/3.jpg" alt="blog"></a>

                            <!-- Content -->
                            <div class="content fix">

                                <!-- Publish Date -->
                                <span class="publish"><span>Published on:</span> 25 May 2017</span>

                                <!-- Title -->
                                <h4 class="title"><a href="blog-details.html">At vero eos et accusamus et iusto</a></h4>

                                <!-- Decs -->
                                <p>If you are going to use a passage of Lorem Ipsum, yneed to be sure there isn't anything embarrassing hidden ithe middle text. All the Lorem Ipsum.</p>

                                <!-- Read More Link --> 
                                <a href="blog-details.html" class="read-more">Read More</a>

                            </div>

                        </div><!-- Blog Item End-->

                        <!-- Blog Item Start-->
                        <div class="blog-item col-md-6 col-12 mb-60">

                            <!-- Image -->
                            <a href="blog-details.html" class="image"><img src="img/blog/1.jpg" alt="blog"></a>

                            <!-- Content -->
                            <div class="content fix">

                                <!-- Publish Date -->
                                <span class="publish"><span>Published on:</span> 25 May 2017</span>

                                <!-- Title -->
                                <h4 class="title"><a href="blog-details.html">If you are going to use a passage.</a></h4>

                                <!-- Decs -->
                                <p>If you are going to use a passage of Lorem Ipsum, yneed to be sure there isn't anything embarrassing hidden ithe middle text. All the Lorem Ipsum.</p>

                                <!-- Read More Link --> 
                                <a href="blog-details.html" class="read-more">Read More</a>

                            </div>

                        </div><!-- Blog Item End-->

                        <!-- Blog Item Start-->
                        <div class="blog-item col-md-6 col-12 mb-60">

                            <!-- Image -->
                            <a href="blog-details.html" class="image"><img src="img/blog/2.jpg" alt="blog"></a>

                            <!-- Content -->
                            <div class="content fix">

                                <!-- Publish Date -->
                                <span class="publish"><span>Published on:</span> 25 May 2017</span>

                                <!-- Title -->
                                <h4 class="title"><a href="blog-details.html">Ut enim ad minima veniam, quis.</a></h4>

                                <!-- Decs -->
                                <p>If you are going to use a passage of Lorem Ipsum, yneed to be sure there isn't anything embarrassing hidden ithe middle text. All the Lorem Ipsum.</p>

                                <!-- Read More Link --> 
                                <a href="blog-details.html" class="read-more">Read More</a>

                            </div>

                        </div><!-- Blog Item End-->

                        <!-- Blog Item Start-->
                        <div class="blog-item col-md-6 col-12 mb-60">

                            <!-- Image -->
                            <a href="blog-details.html" class="image"><img src="img/blog/3.jpg" alt="blog"></a>

                            <!-- Content -->
                            <div class="content fix">

                                <!-- Publish Date -->
                                <span class="publish"><span>Published on:</span> 25 May 2017</span>

                                <!-- Title -->
                                <h4 class="title"><a href="blog-details.html">At vero eos et accusamus et iusto</a></h4>

                                <!-- Decs -->
                                <p>If you are going to use a passage of Lorem Ipsum, yneed to be sure there isn't anything embarrassing hidden ithe middle text. All the Lorem Ipsum.</p>

                                <!-- Read More Link --> 
                                <a href="blog-details.html" class="read-more">Read More</a>

                            </div>

                        </div><!-- Blog Item End-->
                
                        <!-- Pagination Start -->
                        <div class="pagination col-12 mt-20">
                            <ul>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li class="arrows"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div><!-- Pagination End -->
                        
                    </div>
                </div>
                
                <!-- Sidebar Wrapper -->
                <div class="col-lg-4 col-12 mb-60">
                    <div class="sidebar-wrapper">

                        <!-- Single Sidebar -->
                        <div class="single-sidebar mb-30">

                            <!-- Titel -->
                            <h4 class="sidebar-title">Search</h4>

                            <!-- Form -->
                            <form action="#" class="sidebar-search-form">
                                <input type="text" placeholder="Enter Keywords">
                                <button><i class="ion-ios-search-strong"></i></button>
                            </form>

                        </div>

                        <!-- Single Sidebar -->
                        <div class="single-sidebar mb-30">

                            <!-- Titel -->
                            <h4 class="sidebar-title">Recent Post</h4>
                            
                            <!-- Sdebar Post -->
                            <div class="sidebar-post fix">
                                <!-- Image -->
                                <a href="blog-details.html" class="image"><img src="img/blog/sidebar-post-1.jpg" alt=""></a>
                                <!-- Content -->
                                <div class="content fix">
                                    <span class="date">14 JUN 2016</span>
                                    <a href="blog-details.html" class="title">Where can I get some?</a>
                                    <p>Many desktop publis packages and web page editors.</p>
                                </div>
                            </div>
                            
                            <!-- Sdebar Post -->
                            <div class="sidebar-post fix">
                                <!-- Image -->
                                <a href="blog-details.html" class="image"><img src="img/blog/sidebar-post-2.jpg" alt=""></a>
                                <!-- Content -->
                                <div class="content fix">
                                    <span class="date">20 JUN 2016</span>
                                    <a href="blog-details.html" class="title">Going to use a passage.</a>
                                    <p>Many desktop publis packages and web page editors.</p>
                                </div>
                            </div>
                            
                            <!-- Sdebar Post -->
                            <div class="sidebar-post fix">
                                <!-- Image -->
                                <a href="blog-details.html" class="image"><img src="img/blog/sidebar-post-3.jpg" alt=""></a>
                                <!-- Content -->
                                <div class="content fix">
                                    <span class="date">20 JUN 2016</span>
                                    <a href="blog-details.html" class="title">Going to use a passage.</a>
                                    <p>Many desktop publis packages and web page editors.</p>
                                </div>
                            </div>

                        </div>

                        <!-- Single Sidebar -->
                        <div class="single-sidebar mb-30">

                            <!-- Titel -->
                            <h4 class="sidebar-title">Tags</h4>

                            <!-- Tag Cloud -->
                            <div class="tag-cloud fix">
                                <a href="#">Bestsellers</a>
                                <a href="#">Gifts</a>
                                <a href="#">New</a>
                                <a href="#">Christmas gift</a>
                                <a href="#">Festive cakes</a>
                                <a href="#">Home decor</a>
                                <a href="#">Toys</a>
                            </div>
                            
                        </div>

                        <!-- Single Sidebar -->
                        <div class="single-sidebar mb-30">

                            <!-- Titel -->
                            <h4 class="sidebar-title">Newsletter</h4>
                            
                            <p>Natus error sit voluptatem accusantium doloremque laudantium.</p>
                            
                            <!-- Newsletter Form -->
                            <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="sidebar-subscribe-form validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <label for="mce-EMAIL" class="d-none">Subscribe to our mailing list</label>
                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">subscribe</button>
                                </div>
                            </form>
                            
                        </div>

                    </div>
                </div>
            
            </div>
        </div>
    </div><!-- Blog Section End-->
    
       
    <!-- Footer Section Start-->
    <div class="footer-section section bg-dark" style="background-image: url(img/bg/footer-bg.png)">
        <div class="container">
            
            <div class="row">
                <div class="col">

                    <!-- Footer Top Start -->
                    <div class="footer-top section pt-80 pb-50">
                        <div class="row">

                            <!-- Footer Widget -->
                            <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">

                                <img class="footer-logo" src="img/footer-logo.png" alt="logo">
                                <p>Contrary to popular belief, Lorem Ipsum is nosimply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over Lorem Ipsum is nosimply random text.</p>

                            </div>

                            <!-- Footer Widget -->
                            <div class="footer-widget col-lg-2 col-md-3 col-12 mb-40">

                                <h4 class="widget-title">Information</h4>

                                <ul>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Team member</a></li>
                                    <li><a href="#">Clinet</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>  

                            </div>

                            <!-- Footer Widget -->
                            <div class="footer-widget col-lg-2 col-md-3 col-12 mb-40">

                                <h4 class="widget-title">Categories</h4>

                                <ul>
                                    <li><a href="#">Costumes</a></li>
                                    <li><a href="#">Lights</a></li>
                                    <li><a href="#">Lights</a></li>
                                    <li><a href="#">Christmas Trees</a></li>
                                    <li><a href="#">Decorations</a></li>
                                </ul>  

                            </div>

                            <!-- Footer Widget -->
                            <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">

                                <h4 class="widget-title">Contact Us</h4>

                                <ul>
                                    <li><span>Address:</span> ur address goes here,street Crossroad 123</li>
                                    <li><span>Phone:</span> +99 859 658 589 . +69 587 456 25</li>
                                    <li><span>Eax:</span> +55 784 7585 . + 985 698 586</li>
                                    <li><span>Email:</span> christ@email.com</li>
                                </ul>  

                            </div>

                        </div>
                    </div><!-- Footer Top End -->
                    
                    <!-- Footer Bottom Start -->
                    <div class="footer-bottom section text-center">
                        <p><a href="templateshub.net">Templates Hub</a></p>
                    </div><!-- Footer Bottom End -->

                </div>
            </div>
            
        </div>
    </div><!-- Footer Section End-->
    

</div><!-- Main Wrapper End -->

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<!-- Popper JS -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="js/plugins.js"></script>
<!-- Ajax Mail JS -->
<script src="js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>
</body>

</html>