<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Cart • GiftPortal</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.svg' %}" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <!-- Modernizer JS -->
    <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
  </head>

  <body>
    <!-- Main Wrapper Start -->
    <div id="main-wrapper" class="section">
      <!-- Header Section Start -->
      {% include 'includes/header.html' %}
 
      <!-- Header Section End -->

      <!-- Page Banner Section Start-->
      <div
        class="page-banner-section section"
        style="background-image: url({% static "/img/bg/page-banner.jpg" %})"
      >
        <div class="container">
          <div class="row">
            <!-- Page Title Start -->
            <div class="page-title text-center col">
              <h1>Cart</h1>
            </div>
            <!-- Page Title End -->
          </div>
        </div>
      </div>
      <!-- Page Banner Section End-->

      <!-- Cart Section Start-->
      <div class="cart-section section pt-120 pb-90">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="table-responsive mb-30">
                <table class="table cart-table text-center">
                  <!-- Table Head -->
                  <thead>
                    <tr>
                      <th class="number">#</th>
                      <th class="image">image</th>
                      <th class="name">product name</th>
                      <th class="qty">quantity</th>
                      <th class="price">price</th>
                      <th class="total">totle</th>
                      <th class="remove">remove</th>
                    </tr>
                  </thead>

                  <!-- Table Body -->
                  <tbody>
                    {%for cart_item in data%}
                    <tr>
                      <td><span class="cart-number">{{forloop.counter}}</span></td>
                      <td>
                        <a href="#" class="cart-pro-image"
                          ><img src="/media/{{cart_item.product_id.p_image}}" alt=""
                        /></a>
                      </td>
                      <td width="10%">
                        <a href="#" class="cart-pro-title">{{cart_item.product_id.p_name}}</a>
                      </td>
                      <td>
                        <div class="product-quantity">
                          <input type="text" value={{cart_item.c_quantity}} name="qtybox" />
                        </div>
                      </td>
                      <td width="10%"><p class="cart-pro-price">₹ {{cart_item.product_id.p_price}}</p></td>
                      <td width="10%"><p class="cart-price-total">₹ {{cart_item.total_amount}}</p></td>
                      <td>
                       <a href="delcartdata/{{cart_item.product_id.id}}">
                        <button class="cart-pro-remove">
                          <i class="fa fa-trash-o"></i>
                        </button>
                       </a>
                      </td>
                    </tr>
                   {%endfor%}
                  </tbody>
                </table>
              </div>

              <div class="row">
                <!-- Cart Action -->
                <div class="cart-action col-lg-4 col-md-6 col-12 mb-30">
                  <a href="#" class="button">Continiue Shopping</a>
                  <button class="button">update cart</button>
                </div>

                <!-- Cart Cuppon -->
                <div class="cart-cuppon col-lg-4 col-md-6 col-12 mb-30">
                  <h4 class="title">Discount Code</h4>
                  <p>Enter your coupon code if you have</p>
                  <form action="#" class="cuppon-form">
                    <input type="text" placeholder="Cuppon Code" />
                    <button class="button">apply coupon</button>
                  </form>
                </div>

                <!-- Cart Checkout Progress -->
                <div
                  class="cart-checkout-process col-lg-4 col-md-6 col-12 mb-30"
                >
                  <h4 class="title">Process Checkout</h4>
                  <p><span>Subtotal</span><span>₹ {{total}}</span></p>
                  <h5><span>Grand total</span><span>₹ {{total}}</span></h5>
                  <button class="button">process to checkout</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Cart Section End-->

      <!-- Footer Section Start-->
      {% include 'includes/footer.html' %}
    
      <!-- Footer Section End-->
    </div>
    <!-- Main Wrapper End -->

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="{% static "/js/vendor/jquery-1.12.0.min.js" %}"></script>
    <!-- Popper JS -->
    <script src="{% static '/js/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- Plugins JS -->
    <script src="{% static '/js/plugins.js' %}"></script>
    <!-- Ajax Mail JS -->
    <script src="{% static '/js/ajax-mail.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static '/js/main.js' %}"></script>
  </body>
</html>
