<!doctype html>
{% load static %}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Checkout • GiftPortal</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.svg' %}" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <!-- Modernizer JS -->
    <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
</head>

<body>

<!-- Main Wrapper Start -->
<div id="main-wrapper" class="section">
    {% include 'includes/header.html' %}
    

    <!-- Header Section Start -->
   
    
       
    <!-- Page Banner Section Start-->
    <div class="page-banner-section section" style="background-image: url(img/bg/page-banner.jpg)">
        <div class="container">
            <div class="row">
                
                <!-- Page Title Start -->
                <div class="page-title text-center col">
                    <h1>Checkout</h1>
                </div><!-- Page Title End -->
                
            </div>
        </div>
    </div><!-- Page Banner Section End-->
    
       
    <!-- Checkout Section Start-->
    <div class="cart-section section pt-120 pb-90">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-6 col-12 mb-30">
                   
                    <!-- Checkout Accordion Start -->
                    <div id="checkout-accordion" class="panel-group">
                       
                        <!-- Checkout Method -->
                        <div class="panel single-accordion">
                           
                            <a class="accordion-head" data-toggle="collapse" data-parent="#checkout-accordion" href="#checkout-method">1. checkout method</a>
                            
                            <div id="checkout-method" class="collapse show">
                                <div class="checkout-method accordion-body fix">
                                   
                                    <ul class="checkout-method-list">
                                        <li class="active" data-form="checkout-login-form">Login</li>
                                        <li data-form="checkout-register-form">Register</li>
                                    </ul>
                                    
                                    <form action="#" class="checkout-login-form">
                                        <div class="row">
                                            <div class="input-box col-md-6 col-12 mb-20"><input type="email" placeholder="Email Address"></div>
                                            <div class="input-box col-md-6 col-12 mb-20"><input type="password" placeholder="Password"></div>
                                            <div class="input-box col-md-6 col-12 mb-20"><input type="submit" value="Login"></div>
                                        </div>
                                    </form>
                                    
                                    <form action="#" class="checkout-register-form">
                                        <div class="row">
                                            <div class="input-box col-md-6 col-12 mb-20"><input type="text" placeholder="Your Name"></div>
                                            <div class="input-box col-md-6 col-12 mb-20"><input type="email" placeholder="Email Address"></div>
                                            <div class="input-box col-md-6 col-12 mb-20"><input type="password" placeholder="Password"></div>
                                            <div class="input-box col-md-6 col-12 mb-20"><input type="password" placeholder="Confirm Password"></div>
                                            <div class="input-box col-md-6 col-12 mb-20"><input type="submit" value="Register"></div>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                            
                        </div>
                        
                        <!-- Billing Method -->
                        <div class="panel single-accordion">
                            <a class="accordion-head collapsed" data-toggle="collapse" data-parent="#checkout-accordion" href="#billing-method">2. billing informatioon</a>
                            <div id="billing-method" class="collapse">
                                <div class="accordion-body billing-method fix">
                                   
                                    <form action="#" class="billing-form checkout-form">
                                        <div class="row">
                                            <div class="col-12 mb-20">
                                                <select>
                                                  <option value="1">Select a country</option>
                                                  <option value="2">bangladesh</option>
                                                  <option value="3">Algeria</option>
                                                  <option value="4">Afghanistan</option>
                                                  <option value="5">Ghana</option>
                                                  <option value="6">Albania</option>
                                                  <option value="7">Bahrain</option>
                                                  <option value="8">Colombia</option>
                                                  <option value="9">Dominican Republic</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">									
                                                <input type="text" placeholder="First Name">
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">								
                                                <input type="text" placeholder="Last Name">
                                            </div>
                                            <div class="col-12 mb-20">								
                                                <input type="text" placeholder="Company Name">
                                            </div>
                                            <div class="col-12 mb-20">
                                                <input placeholder="Street address" type="text">
                                            </div>
                                            <div class="col-12 mb-20">
                                                <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                                            </div>
                                            <div class="col-12 mb-20">
                                                <input placeholder="Town / City" type="text">
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">									
                                                <input type="text" placeholder="State / County">
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">									
                                                <input placeholder="Postcode / Zip" type="text">
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">									
                                                <input type="email" placeholder="Email Address">
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">									
                                                <input placeholder="Phone Number" type="text">
                                            </div>							
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <!-- Shipping Method -->
                        <div class="panel single-accordion">
                            <a class="accordion-head collapsed" data-toggle="collapse" data-parent="#checkout-accordion" href="#shipping-method">3. shipping informatioon</a>
                            <div id="shipping-method" class="collapse">
                                <div class="accordion-body shipping-method fix">
                                   
                                    <h5>shipping address</h5>
                                    <p><span>address&nbsp;</span>Bootexperts, Banasree D-Block, Dhaka 1219, Bangladesh</p>
                                    
                                    <button class="shipping-form-toggle">Ship to a different address?</button>
                                    
                                    <form action="#" class="shipping-form checkout-form">
                                        <div class="row">
                                            <div class="col-12 mb-20">
                                                <select>
                                                  <option value="1">Select a country</option>
                                                  <option value="2">bangladesh</option>
                                                  <option value="3">Algeria</option>
                                                  <option value="4">Afghanistan</option>
                                                  <option value="5">Ghana</option>
                                                  <option value="6">Albania</option>
                                                  <option value="7">Bahrain</option>
                                                  <option value="8">Colombia</option>
                                                  <option value="9">Dominican Republic</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">									
                                                <input type="text" placeholder="First Name">
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">								
                                                <input type="text" placeholder="Last Name">
                                            </div>
                                            <div class="col-12 mb-20">								
                                                <input type="text" placeholder="Company Name">
                                            </div>
                                            <div class="col-12 mb-20">
                                                <input placeholder="Street address" type="text">
                                            </div>
                                            <div class="col-12 mb-20">
                                                <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                                            </div>
                                            <div class="col-12 mb-20">
                                                <input placeholder="Town / City" type="text">
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">									
                                                <input type="text" placeholder="State / County">
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">									
                                                <input placeholder="Postcode / Zip" type="text">
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">									
                                                <input type="email" placeholder="Email Address">
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">									
                                                <input placeholder="Phone Number" type="text">
                                            </div>							
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <!-- Payment Method -->
                        <div class="panel single-accordion">
                            <a class="accordion-head collapsed" data-toggle="collapse" data-parent="#checkout-accordion" href="#payment-method">4. Payment method</a>
                            <div id="payment-method" class="collapse">
                                <div class="accordion-body payment-method fix">
                                   
                                    <ul class="payment-method-list">
                                        <li class="active">check / money order</li>
                                        <li class="payment-form-toggle">credit card</li>
                                    </ul>
                                    
                                    <form action="#" class="payment-form">
                                        <div class="row">
                                            <div class="input-box col-12 mb-20">
                                                <label for="card-name">Name on Card *</label>
                                                <input type="text" id="card-name" />
                                            </div>
                                            <div class="input-box col-12 mb-20">
                                                <label>Credit Card Type</label>
                                                <select>
                                                    <option>Please Select</option>
                                                    <option>Credit Card Type 1</option>
                                                    <option>Credit Card Type 2</option>
                                                </select>
                                            </div>
                                            <div class="input-box col-12 mb-20">
                                                <label for="card-number">Credit Card Number *</label>
                                                <input type="text" id="card-number" />
                                            </div>
                                            <div class="input-box col-12">
                                                <div class="row">
                                                    <div class="input-box col-12">
                                                        <label>Expiration Date</label>
                                                    </div>
                                                    <div class="input-box col-md-6 col-12 mb-20">
                                                        <select>
                                                            <option>Month</option>
                                                            <option>Jan</option>
                                                            <option>Feb</option>
                                                            <option>Mar</option>
                                                            <option>Apr</option>
                                                            <option>May</option>
                                                            <option>Jun</option>
                                                            <option>Jul</option>
                                                            <option>Aug</option>
                                                            <option>Sep</option>
                                                            <option>Oct</option>
                                                            <option>Nov</option>
                                                            <option>Dec</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-box col-md-6 col-12 mb-20">
                                                        <select>
                                                            <option>Year</option>
                                                            <option>2015</option>
                                                            <option>2016</option>
                                                            <option>2017</option>
                                                            <option>2018</option>
                                                            <option>2019</option>
                                                            <option>2020</option>
                                                            <option>2021</option>
                                                            <option>2022</option>
                                                            <option>2023</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-box col-12">
                                                <label for="card-Verify">Card Verification Number *</label>
                                                <input type="text" id="card-Verify" />
                                                <a href="#">What is it ?</a>
                                            </div>
                                        </div>
                                    </form>
                                
                                </div>
                            </div>
                        </div>
                        
                    </div><!-- Checkout Accordion Start -->
                    
                </div>
                
                <!-- Order Details -->
                <div class="col-lg-6 col-12 mb-30">
                   
                    <div class="order-details-wrapper">
                        <h2>your order</h2>
                        <div class="order-details">
                            <form action="#">
                                <ul>
                                    <li><p class="strong">product</p><p class="strong">total</p></li>
                                    <li><p>Holiday Candle x1</p><p>$104.99</p></li>
                                    <li><p>Christmas Tree x1 </p><p>$85.99</p></li>
                                    <li><p class="strong">cart subtotal</p><p class="strong">$190.98</p></li>
                                    <li><p class="strong">shipping</p><p>
                                        <input type="radio" name="order-shipping" id="flat" /><label for="flat">Flat Rate $ 7.00</label><br />
                                        <input type="radio" name="order-shipping" id="free" /><label for="free">Free Shipping</label>
                                    </p></li>
                                    <li><p class="strong">order total</p><p class="strong">$190.98</p></li>
                                    <li><button class="button">place order</button></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>

       
    <!-- Footer Section Start-->
    {% include 'includes/footer.html' %}

    

</div><!-- Main Wrapper End -->

<!-- JS
============================================ -->

  <!-- jQuery JS -->
  <script src="{% static "/js/vendor/jquery-1.12.0.min.js" %}"></script>
  <!-- Popper JS -->
  <script src="{% static '/js/popper.min.js' %}"></script>
  <!-- Bootstrap JS -->
  <script src="{% static '/js/bootstrap.min.js' %}"></script>
  <!-- Plugins JS -->
  <script src="{% static '/js/plugins.js' %}"></script>
  <!-- Ajax Mail JS -->
  <script src="{% static '/js/ajax-mail.js' %}"></script>
  <!-- Main JS -->
  <script src="{% static '/js/main.js' %}"></script>
  <!-- Google Map Api -->


</body>


</html>