<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Product • GiftPortal</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.svg' %}" />
        <!-- Google Fonts -->
        <link
          href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
          rel="stylesheet"
        />
        <link
          href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    
        <!-- Icon Font CSS -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
        <!-- Plugins CSS -->
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static "style.css" %}" />
        <!-- Modernizer JS -->
        <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
    </head>
</head>
<body>
    <div id="main-wrapper" class="section">

    {% include 'includes/header.html' %}
    

<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js"></script>

<input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="1">
{% include 'includes/footer.html' %}


    </div>
    <script src="{% static "/js/vendor/jquery-1.12.0.min.js" %}"></script>
    <!-- Popper JS -->
    <script src="{% static '/js/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- Plugins JS -->
    <script src="{% static '/js/plugins.js' %}"></script>
    <!-- Ajax Mail JS -->
    <script src="{% static '/js/ajax-mail.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static '/js/main.js' %}"></script>
</body>
</html>