<!doctype html>
{% load static %}
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Product • GiftPortal</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.svg' %}" />
        <!-- Google Fonts -->
        <link
          href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
          rel="stylesheet"
        />
        <link
          href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    
        <!-- Icon Font CSS -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
        <!-- Plugins CSS -->
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static "style.css" %}" />
        <!-- Modernizer JS -->
        <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js"></script>
    </head>
    <script>
        /**
        * Todo : If form style gets weird go to style.css
        * Todo : Change .contact-form {padding_left: 90px} line no 3965
        */
    </script>
    <style>
  
   
        .contact-form {
            text-align: left;
            max-width: 300px;
            border-radius: 8px;
        }
        .contact-form::before {
          display: none;
        }
        .contact-form h4 {
            margin-bottom: 15px;
        }
    
        .contact-form textarea {
            margin-bottom: 15px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
        }
    
        .contact-form .inputTypeField[type="submit"] {
            background-color: #4CAF50;
            color: rgb(0, 0, 0);
            cursor: pointer;
            border: 1px solid #000;
            margin-top: 10px;
        }
    
        .contact-form .inputTypeField[type="submit"]:hover {
            background-color: #45a049;
        }
    
        .form-message {
            margin-top: 15px;
        }
        .hidden {
          opacity: 0;
        }
        .contact-form form input[type="radio"] {
          width: 15px;
          height: 15px;
        }
      
    /* Hide the radio buttons */
    .rating input[type="radio"] {
        display: none;
    }   
    
    /* Style the stars */
    .rating .star {
        font-size: 24px; /* Adjust the size of the stars */
        color: #ccc; /* Default color of the stars */
        cursor: pointer;
    }
    
    /* Style the filled-in stars when radio button is checked */
    .rating input[type="radio"]:checked ~ .star {
        color: gold; /* Change color of filled-in stars */
    }
    
        .rating {
            font-size: 24px;
            display: flex;
            justify-content: flex-end;
            flex-direction: row-reverse;
        }
        .star {
            cursor: pointer;
        }
        .star.selected {
            color: gold; /* Color of selected stars */
        }
        .user_image {
            width: 50px;
            height: 50px;
            object-fit:cover;
            border-radius: 100%;
        }
        .imgUserDet {
            width: 100%;
            display: flex;
        }
        .imgUserDet span{
            margin-left: 10px;
        }
        .flex_rev_img {
            display: flex;
            flex-direction: row; /* Added to make the child items stack vertically */
            margin: 10px 0 10px 0;
        }
        .rev_image:nth-child(1) {
            margin: 0;
        }
        .rev_image {
            margin: 0 10px;
            width: 100px;
            height: 100px;
        }
        .caption {
            display: none;
        }
        
        </style>
<body>

<!-- Main Wrapper Start -->
<div id="main-wrapper" class="section">
    

    <!-- Header Section Start -->
    {% include 'includes/header.html' %}
    
       
    <!-- Product Section Start-->
    <div class="product-section section pt-110 pb-90">
        <div class="container">
            
            <!-- Product Wrapper Start-->
            <div class="row">
                
                <!-- Product Image & Thumbnail Start -->
                <div class="col-lg-7 col-12 mb-30">
                    
                   {% comment %} Previous Image slider MAIN DONT REMOVE {% endcomment %}
                    <!-- Product Thumbnail -->
                     <div class="single-product-thumbnail product-thumbnail-slider float-left">
                        {%if images%}
                        {%for image in images%}
                        <div class="single-thumb"><img src="/media/{{image.p_image}}" alt=""></div>
                        {%endfor%}
                        {%else%}
                        <div class="single-thumb"><img src="/media/{{data.p_image}}" alt=""></div>
                        {%endif%}
                     </div>
                    
                    <!-- Product Image -->
                    <div class="single-product-image product-image-slider fix">
                        <!-- Display the rest of the images -->
                        {%if images%}
                        {% for image in images %}
                        <div class="single-image"><img src="/media/{{ image.p_image }}" alt=""></div>
                        {% endfor %}
                        {%else%}
                        <div class="single-image"><img src="/media/{{ data.p_image }}" alt=""></div>
                        {%endif%}
                    </div> 
                    
                   
                    
                </div><!-- Product Image & Thumbnail End -->
                
                <!-- Product Content Start -->
                <div class="single-product-content col-lg-5 col-12 mb-30">
                   
                    <!-- Title -->
                    <h1 class="title">{{data.p_name}}</h1>
                    
                    <!-- Product Rating -->
                    <span class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    
                    <!-- Price -->
                    <span class="product-price">₹ {{data.p_price}}</span>
                    
                    <!-- Description -->
                    <div class="description">
                        <p>{{data.p_description}}</p>
                    </div>
                    
                    <!-- Color -->
                    <div class="product-color fix">
                        <h5>Available Quantity</h5>
                        <div>
                        {{data.p_quantity}}

                        </div>
                    </div>
                    <div class="product-color fix">
                        <h5>Select Color</h5>
                        <form action="#">
                            <div class="color-box"><input type="radio" name="color" id="color-1"><label for="color-1" style="background-color: #51bd99;">color 1</label></div>
                            <div class="color-box"><input type="radio" name="color" id="color-2"><label for="color-2" style="background-color: #83a931;">color 2</label></div>
                            <div class="color-box"><input type="radio" name="color" id="color-3"><label for="color-3" style="background-color: #c8001e;">color 3</label></div>
                            <div class="color-box"><input type="radio" name="color" id="color-4"><label for="color-4" style="background-color: #414141;">color 4</label></div>
                        </form>
                    </div> 
                    
                    <!-- Quantity & Cart Button -->

                    <div class="product-quantity-cart fix">
                        <form action="{% url 'addtocart' data.id %}" method="post">{% csrf_token %}
                        <div class="product-quantity">
                            <input type="text" value="0" name="qtybox">
                        </div>
                        
                        <input type="submit" class="add-to-cart" placeholder="Add to cart">
                        </form>
                    </div>


                    
                    <!-- Action Button -->
                    <div class="product-action-button fix">
                        {% comment %} <button><i class="ion-ios-email-outline"></i>Email to a friend</button> {% endcomment %}
                        <button>
                            <a href="{% url 'addwishlist' data.id %}"><i class="ion-ios-heart-outline"></i>Wishlist</a>
                        </button>
                    </div>
                    
                    <!-- Social Share -->
                    <div class="product-share fix">
                        <h6>Share :</h6>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                    
                </div><!-- Product Content End -->
                
                
            </div><!-- Product Wrapper End-->
            
            <!-- Product Additional Info Start-
            <div class="row">
               
                <!-- Nav tabs -->
                <div class="col-12 mt-30">
                    <ul class="pro-info-tab-list nav">
                        <li><a  data-toggle="tab" href="#more-info">More info</a></li>
                        <li><a data-toggle="tab" href="#data-sheet">Data sheet</a></li>
                        <li><a class="active" data-toggle="tab" href="#reviews">Reviews</a></li>
                    </ul>
                </div>
       
                <!-- Tab panes -->
                <div class="tab-content col-12">
                   
                    <div class="pro-info-tab tab-pane" id="more-info">
                        <p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention.</p>
                    </div>
           
                    <div class="pro-info-tab tab-pane" id="data-sheet">
                        <table class="table table-bordered">
                            <tbody>
                                <tr class="odd">
                                    <td>Compositions</td>
                                    <td>Cotton</td>
                                </tr>
                                <tr class="even">
                                    <td>Styles</td>
                                    <td>Casual</td>
                                </tr>
                                <tr class="odd">
                                    <td>Properties</td>
                                    <td>Short Sleeve</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="pro-info-tab tab-pane active" id="reviews">
                         <div class="contact-form">
                            <form class="review_form" action="{% url 'submit_review' data.id %}" method="post" enctype="multipart/form-data"> {% csrf_token %}

                                <label for="review_name"> Review</label>
                                <input type="text" id="review_name" name="review_name" placeholder="Add your review" />
                               
                                <label for="cmnt">Comment</label>
                                <textarea type="text" name="cmnt" id="cmnt" placeholder="Add your comment"></textarea>

                                <label for="rating">Ratings</label>
                                
                                <div class="rating">
                                 
<input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="1">
                                </div>
                                

                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        const stars = document.querySelectorAll('.star');
                                        const ratingInput = document.getElementById('rating');
                                    
                                        stars.forEach(star => {
                                            star.addEventListener('click', function() {
                                                const value = parseInt(star.getAttribute('data-value'));
                                                ratingInput.value = value; // Update the value of the hidden input field
                                                stars.forEach(s => {
                                                    if (parseInt(s.getAttribute('data-value')) <= value) {
                                                        s.classList.add('selected');
                                                    } else {
                                                        s.classList.remove('selected');
                                                    }
                                                });
                                            });
                                        });
                                    });
                                    </script>
                            
                                </select>
                                <label for="productimage">Product Image</label>
                                <input type="file" name="f_image" multiple id="f_image" accept="image/*">
                    
                                <input type="submit" class="btnSub" value="Submit">
                            </form>
                            <p class="form-message"></p>
                            {% for review, images in review_multi_image.items %}
                            <h4>{{ review.review_name }}</h4>
                            <p>Rating: {{ review.rating }}</p>
                            
                            {%if review.rating == 1%}
                            <svg
                            class="yellow-star"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="#ebdb34"
                            viewBox="0 0 22 20"
                          >
                            <path
                              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                            />
                          </svg>
                        
                            {%elif review.rating == 2%}
                            <h1>Hello 2</h1>
                            {%elif review.rating == 3%}
                            <h1>Hello 3</h1>
                            {%elif review.rating == 4%}
                            <h1>Hello 4</h1>
                            {%elif review.rating == 5%}
                            <h1>Hello 5</h1>
                            {%else%}
                            {%endif%}
                            

                            
                            <!-- Display user's name and image -->
                            {% for user in user %}
                                {% if user.id == review.user_id.id %}
                                <div class="imgUserDet">
                                <div>
                                <img src="{{ user.u_image.url }}" class="user_image" alt="{{ user.u_name }}'s Photo">

                                </div>
                                <div>
                                    <span>{{ user.u_name }}</span>
                                    <span>{{review.submit_on}}</span>
                                </div>                                    
                            </div>
                                {% endif %}
                            {% endfor %}
                            
                            <!-- Display images associated with the review -->
                            <div class="flex_rev_img">
                            {% for image in images %}
                                <img src="{{ image.f_image.url }}" class="rev_image" alt="Feedback Image">
                            {% endfor %}
                        </div>

                            <p>{{ review.comment }}</p>

                            {% endfor %}
                        
                        
                            <div class="hidden alert alert-warning" id="warnBlock" role="alert">
                              <p id="alertUser"></p>
                            </div>
                         </div>
                    </div>
                    
                </div>
                
            </div><!-- Product Additional Info End-->
            
        </div>
    </div><!-- Product Section End-->

       
    {% include 'includes/footer.html' %}

    

</div><!-- Main Wrapper End -->

<!-- JS
============================================ -->

  <!-- jQuery JS -->
  <script src="{% static "/js/vendor/jquery-1.12.0.min.js" %}"></script>
  <!-- Popper JS -->
  <script src="{% static '/js/popper.min.js' %}"></script>
  <!-- Bootstrap JS -->
  <script src="{% static '/js/bootstrap.min.js' %}"></script>
  <!-- Plugins JS -->
  <script src="{% static '/js/plugins.js' %}"></script>
  <!-- Ajax Mail JS -->
  <script src="{% static '/js/ajax-mail.js' %}"></script>
  <!-- Main JS -->
  <script src="{% static '/js/main.js' %}"></script>
  <!-- Google Map Api -->

</body>


</html>