<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Shop • GiftPortal</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.svg' %}" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <!-- Modernizer JS -->
    <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
</head>

  <body>
    <!-- Main Wrapper Start -->
    <div id="main-wrapper" class="section">
      <!-- Header Section Start -->
      {% include 'includes/header.html' %}

      <!-- Header Section End -->

      <!-- Page Banner Section Start-->
      <div
        class="page-banner-section section"
        style="background-image: url({% static "img/bg/page-banner.jpg" %})"
      >
        <div class="container">
          <div class="row">
            <!-- Page Title Start -->
            <div class="page-title text-center col">
              <h1>shop page</h1>
            </div>
            <!-- Page Title End -->
          </div>
        </div>
      </div>
      <!-- Page Banner Section End-->

      <!-- Product Section Start-->
      <div class="product-section section pt-120 pb-120">
        <div class="container">
          <!-- Product Wrapper Start-->
          <div class="row">
            <!-- Product Start-->
            <div class="col-lg-4 col-md-6 col-12 mb-60">
              <div class="product">
                <!-- Image Wrapper -->
                <div class="image">
                  <!-- Image -->
                  <a href="product-details.html" class="img"
                    ><img src="{% static 'img/product/1.jpg'%}" alt="Product"
                  /></a>
                  <!-- Wishlist -->
                  <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                  <!-- Label -->
                  <span class="label">New</span>
                </div>

                <!-- Content -->
                <div class="content">
                  <!-- Head Content -->
                  <div class="head fix">
                    <!-- Title & Category -->
                    <div class="title-category float-left">
                      <h5 class="title">
                        <a href="product-details.html">Holiday Candle</a>
                      </h5>
                      <a href="shop.html" class="category">Catalog</a>
                    </div>
                    <!-- Price -->
                    <div class="price float-right">
                      <span class="new">$38</span>
                      <!-- Old Price Mockup If Need -->
                      <!-- <span class="old">$46</span> -->
                    </div>
                  </div>

                  <!-- Action Button -->
                  <div class="action-button fix">
                    <a href="#">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End-->

            <!-- Product Start-->
            <div class="col-lg-4 col-md-6 col-12 mb-60">
              <div class="product">
                <!-- Image Wrapper -->
                <div class="image">
                  <!-- Image -->
                  <a href="product-details.html" class="img"
                    ><img src="{% static 'img/product/2.jpg'%}" alt="Product"
                  /></a>
                  <!-- Wishlist -->
                  <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                  <!-- Label -->
                  <!-- <span class="label">New</span> -->
                </div>

                <!-- Content -->
                <div class="content">
                  <!-- Head Content -->
                  <div class="head fix">
                    <!-- Title & Category -->
                    <div class="title-category float-left">
                      <h5 class="title">
                        <a href="product-details.html">Christmas Tree</a>
                      </h5>
                      <a href="shop.html" class="category">Catalog</a>
                    </div>
                    <!-- Price -->
                    <div class="price float-right">
                      <span class="new">$38</span>
                      <!-- Old Price Mockup If Need -->
                      <!-- <span class="old">$46</span> -->
                    </div>
                  </div>

                  <!-- Action Button -->
                  <div class="action-button fix">
                    <a href="#">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End-->

            <!-- Product Start-->
            <div class="col-lg-4 col-md-6 col-12 mb-60">
              <div class="product">
                <!-- Image Wrapper -->
                <div class="image">
                  <!-- Image -->
                  <a href="product-details.html" class="img"
                    ><img src="{% static 'img/product/3.jpg'%}" alt="Product"
                  /></a>
                  <!-- Wishlist -->
                  <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                  <!-- Label -->
                  <!-- <span class="label">New</span> -->
                </div>

                <!-- Content -->
                <div class="content">
                  <!-- Head Content -->
                  <div class="head fix">
                    <!-- Title & Category -->
                    <div class="title-category float-left">
                      <h5 class="title">
                        <a href="product-details.html">Santa Claus Doll</a>
                      </h5>
                      <a href="shop.html" class="category">Catalog</a>
                    </div>
                    <!-- Price -->
                    <div class="price float-right">
                      <span class="new">$38</span>
                      <!-- Old Price Mockup If Need -->
                      <!-- <span class="old">$46</span> -->
                    </div>
                  </div>

                  <!-- Action Button -->
                  <div class="action-button fix">
                    <a href="#">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End-->

            <!-- Product Start-->
            <div class="col-lg-4 col-md-6 col-12 mb-60">
              <div class="product">
                <!-- Image Wrapper -->
                <div class="image">
                  <!-- Image -->
                  <a href="product-details.html" class="img"
                    ><img src="{% static 'img/product/4.jpg'%}" alt="Product"
                  /></a>
                  <!-- Wishlist -->
                  <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                  <!-- Label -->
                  <span class="label">New</span>
                </div>

                <!-- Content -->
                <div class="content">
                  <!-- Head Content -->
                  <div class="head fix">
                    <!-- Title & Category -->
                    <div class="title-category float-left">
                      <h5 class="title">
                        <a href="product-details.html">Holiday Cap</a>
                      </h5>
                      <a href="shop.html" class="category">Catalog</a>
                    </div>
                    <!-- Price -->
                    <div class="price float-right">
                      <span class="new">$38</span>
                      <!-- Old Price Mockup If Need -->
                      <!-- <span class="old">$46</span> -->
                    </div>
                  </div>

                  <!-- Action Button -->
                  <div class="action-button fix">
                    <a href="#">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End-->

            <!-- Product Start-->
            <div class="col-lg-4 col-md-6 col-12 mb-60">
              <div class="product">
                <!-- Image Wrapper -->
                <div class="image">
                  <!-- Image -->
                  <a href="product-details.html" class="img"
                    ><img src="{% static 'img/product/5.jpg'%}" alt="Product"
                  /></a>
                  <!-- Wishlist -->
                  <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                  <!-- Label -->
                  <!-- <span class="label">New</span> -->
                </div>

                <!-- Content -->
                <div class="content">
                  <!-- Head Content -->
                  <div class="head fix">
                    <!-- Title & Category -->
                    <div class="title-category float-left">
                      <h5 class="title">
                        <a href="product-details.html">Holiday Doll</a>
                      </h5>
                      <a href="shop.html" class="category">Catalog</a>
                    </div>
                    <!-- Price -->
                    <div class="price float-right">
                      <span class="new">$38</span>
                      <!-- Old Price Mockup If Need -->
                      <!-- <span class="old">$46</span> -->
                    </div>
                  </div>

                  <!-- Action Button -->
                  <div class="action-button fix">
                    <a href="#">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End-->

            <!-- Product Start-->
            <div class="col-lg-4 col-md-6 col-12 mb-60">
              <div class="product">
                <!-- Image Wrapper -->
                <div class="image">
                  <!-- Image -->
                  <a href="product-details.html" class="img"
                    ><img src="{% static 'img/product/6.jpg'%}" alt="Product"
                  /></a>
                  <!-- Wishlist -->
                  <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                  <!-- Label -->
                  <!-- <span class="label">New</span> -->
                </div>

                <!-- Content -->
                <div class="content">
                  <!-- Head Content -->
                  <div class="head fix">
                    <!-- Title & Category -->
                    <div class="title-category float-left">
                      <h5 class="title">
                        <a href="product-details.html">Holiday Candle</a>
                      </h5>
                      <a href="shop.html" class="category">Catalog</a>
                    </div>
                    <!-- Price -->
                    <div class="price float-right">
                      <span class="new">$38</span>
                      <!-- Old Price Mockup If Need -->
                      <!-- <span class="old">$46</span> -->
                    </div>
                  </div>

                  <!-- Action Button -->
                  <div class="action-button fix">
                    <a href="#">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End-->

            <!-- Pagination Start -->
            <div class="pagination col-12 mt-20">
              <ul>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li class="arrows">
                  <a href="#"><i class="fa fa-angle-right"></i></a>
                </li>
              </ul>
            </div>
            <!-- Pagination End -->
          </div>
          <!-- Product Wrapper End-->
        </div>
      </div>
      <!-- Product Section End-->

      <!-- Footer Section Start-->
      {% include 'includes/footer.html' %}

      <!-- Footer Section End-->
    </div>
    <!-- Main Wrapper End -->

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="{% static 'js/vendor/jquery-1.12.0.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <!-- Plugins JS -->
    <script src="{% static 'js/plugins.js'%}"></script>
    <!-- Ajax Mail JS -->
    <script src="{% static 'js/ajax-mail.js'%}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js'%}"></script>
  </body>
</html>
